<mat-toolbar>
  <mat-toolbar-row>
    <div class="flex-container">
      <div class="item"><span>Sanjaj, planiraj, uradi</span></div>
      <div class="item">
        <img src="assets/logo.png">
        <br><span>UNIQUE PLANNERS</span>
      </div>
      <div class="item"><button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="menu">
          <button [ngxScrollTo] = "'aboutUs'" routerLink="" mat-menu-item>O NAMA</button>
          <button [ngxScrollTo] = "'plannerList'" routerLink="" mat-menu-item>PRIMJERI KORICA</button>
          <button [ngxScrollTo] = "'contact'" routerLink="" mat-menu-item>KONTAKT</button>
          <button *ngIf="jwtService.checkAdminRole() == true" routerLink="/admin-panel" mat-menu-item>ADMIN PANEL</button>
          <button *ngIf="jwtService.isLoggedIn() == false" routerLink="/login" [ngxScrollTo]="'login'" mat-menu-item>LOG IN</button>
          <button (click)="logOut()" *ngIf="jwtService.isLoggedIn() == true" routerLink="/" mat-menu-item>LOG OUT</button>
          </mat-menu>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>