.main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
}

img {
    width: 350px;
    transition: transform 1s, filter 1s;
}

img:hover {
    transform: scale(1.1);
    filter: drop-shadow(10px 10px 10px grey);
}

.gallery {
    width: 90%;
    margin-top: 2.5%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffc6d4;
    padding: 2%;
    border-radius: 5px;
}

span {
    text-align: center;
    font-family: 'Merriweather';
    font-size: 15px;
    width: 90%;
}

span.title {
    font-size: 24px;
    font-weight: normal;

}