<div class="main">
    <span class="title">O NAMA</span>
    <div class="gallery">
        <img src="assets/planeri1.jpg">
        <img src="assets/planeri2.jpg">
        <img src="assets/planeri3.jpg">
    </div>
    <span>Unique Planners je brend porijeklom iz Mostara specijaliziran za proizvodnju i prodaju planera i rokovnika
        raznih namjena. U našoj ponudi možeš pronaći: dnevne planere, poslovne planere, studentske planere, školske
        planere,
        planere vjenčanja, planere za recepte, sedmične planere, fitness planere i dnevnike za bebe. Pored planera, u
        ponudi su
        i razni dodaci poput notesa, bookmarkera, okvira s dizajnom po želji koji možeš poručiti zasebno ili kombinovati
        i kreirati poklon set.
    </span>
</div>