<div class="footer">
    <div class="footer-items">
        <div class="details">
            Obrt Unique Planners <br>
            vl. Azra Bašić <br>
            Mladena Balorde 30 <br>
            88000 Mostar <br>
            tel. +387 061 123 456 <br>
        </div>
        <img class="map" src="assets/logo.png">
        <ul>
            <li> <i class="fab fa-instagram"></i> &nbsp;&nbsp;<a href="https://www.instagram.com/uniqueplanners.bih/" target="_blank">Unique Planners</a></li>
            <li> <mat-icon> mail_outline</mat-icon> unique.planners@gmail.com</li>
            <li> <mat-icon> location_on</mat-icon> Mladena Balorde 30</li>
        </ul>
    </div>
</div>