.footer{
    height:30%;
    width:100%;
    background-color: #ffa4bb;
}
span {
    width: 90%;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 15px;
    margin-bottom: 4%;
}

.details
{
    color:white;
    width: 33.3%;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Merriweather';
    font-size: 15px;
    text-align: center;
}

.footer-items{
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    width:60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
    color:white
}

li{
    font-size: 14px;
    font-family: 'Merriweather';
    color:white;
    list-style-type: none;
    margin-bottom: 5%;
}

mat-icon,i{
    font-size:18px;
    vertical-align: bottom;
}

.map{
    width:15%;
    display: block;
}