<div id="contact" class="description">
    <span class="title">KONTAKT</span>
    <div class="images">
        <img class="shop" src="assets/shop.jpg">
        <img class="shop" src="assets/shop.jpg">
        <img class="shop" src="assets/shop.jpg">
    </div>
    <span>Naša vizija je ponuditi što širi spektar proizvoda za što kvalitetnije i lakše planiranje
        i organizaciju kako svakodnevnice, tako i specifičnih događaja. Pored sadržajne unutrašnjosti,
        u ponudi su brojni dezeni korica koje možeš birati, a nudimo i mogućnost potpunog personaliziranja i
        prilagođavanja dizajna željama kupca kao i kreiranje naslovne strane s logom preduzeća.
        <br>
        <br>
        Naše proizvode možeš poručiti putem instagram profila na svoju adresu ili nas posjetiti lično
        u poslovnici u Mostaru na adresi Mladena Balorde br.30 te odabrati željeni planer ili uživo dogovoriti
        izgled po svojoj želji.
    </span>
</div>